# Ignore trained Models
Models/
*.keras
*.h5
*.pb
*.joblib

# Ignore massive Datasets
Dataset/augmented_dataset/
Dataset/flattened_dataset/

# Ignore heavy tuning logs
Logs/

# Ignore Python cache files
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore environment files
.env
venv/

# Ignore docx files
*.docx

# Ignore Claude files
.Claude/

# Ignore LaTeX
*.tex
*.bib

# Ignore zip
*.zip